@import "tailwindcss";

@theme inline {
  --font-mont: var(--font-montserrat);
  --font-sans: var(--font-open-sans);
}

body {
  @apply bg-slate-50 text-slate-700;
  font-family: var(--font-open-sans), sans-serif;
}

@layer base {
  h1,
  h2,
  h3 {
    @apply font-bold text-slate-900;
    font-family: var(--font-montserrat), sans-serif;
    line-height: 1;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
    transition: color 0.3s ease;
    @apply text-slate-900 transition-all;

    &:hover {
      @apply underline;
    }
  }
}

@layer components {
  .custom-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .canvas-fullscreen {
    @apply fixed top-0 left-0 w-full h-full;
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
}
